<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="pull-left">
          <img class="media-object img-rounded" ng-src="{{show.poster}}">
          <div class="text-center" ng-if"currentUser">
            <button ng-click="subscribe()" class="btn btn-block btn-success">
              <span class="glyphicon glyphicon-plus"></span>Subscribe
            </button>
          </div>
          <div ng-show="isSubscribed()">
            <button ng-click="unsubscribe()" class="btn btn-block btn-danger">
              <span class="glyphicon glyphicon-minus"></span>Unsubscribe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
